---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import ShortBlogPost from '../../components/ShortBlogPost.astro';

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
  const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
    <div class="container">
        <Header/>
        <p>Les posts avec le tag : {tag}</p>
        <ul class="listShortPost">
            {posts.map((post: any) => <ShortBlogPost url={post.url} title={post.frontmatter.title} desc={post.frontmatter.description} date={post.frontmatter.pubDate.toString().slice(0,10)} />)}
        </ul>
        <Footer />
    </div>
</BaseLayout>

<style>
  .listShortPost, .listShortProject {
      padding: 0px;
      list-style: none;
      margin: 0px;
  }
  .listShortProject {
      display: flex;
      column-gap: 20px;
  }
  ul.listShortPost {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  }
</style>