---
import PageLayout from '../layouts/PageLayout.astro';
import ShortBlogPost from '@components/ShortBlogPost.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    const uniqueTags = [...new Set(posts.map((post: any) => post.data.tags).flat())];
    return uniqueTags.map((tag) => {
        const filteredPosts = posts.filter((post: any) => post.data.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const title = `Vous avez décidé<br/> de partir <span class="tag">#${tag}</span>`;
---

<PageLayout page={tag} title={title}>
    <p>Les posts avec le tag : <span class="tag">#{tag}</span></p>
    <div class="articles">
        {posts.map((post: any) => <ShortBlogPost url={`/posts/${post.id}`} title={post.data.title} desc={post.data.description} date={post.data.pubDate} tags={post.data.tags} image={post.data.cover} imageAlt={post.data.coverAlt} />)}
    </div>
</PageLayout>

<style>
.articles {
    display: flex;
    flex-direction: column;
}
</style>