---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import ShortBlogPost from '@components/ShortBlogPost.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    const uniqueTags = [...new Set(posts.map((post: any) => post.data.tags).flat())];
    return uniqueTags.map((tag) => {
        const filteredPosts = posts.filter((post: any) => post.data.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

posts.sort((a, b) => Date.parse(b.data.pubDate.valueOf()) - Date.parse(a.data.pubDate.valueOf()));
---

<BaseLayout page={tag}>
    <Header/>
    <Navigation />
    <main>
        <p>Les posts avec le tag : <span class="tag">#{tag}</span></p>
        {posts.map((post: any) => <ShortBlogPost url={`/posts/${post.id}`} title={post.data.title} desc={post.data.description} date={post.data.pubDate} tags={post.data.tags} image={post.data.cover} imageAlt={post.data.coverAlt} />)}
    </main>
    <Footer />
</BaseLayout>

<style>
    p {
        color: #fff !important;
        position: relative;
        padding: 32px 24px;
        background-color: var(--color-3);
    }
    .tag {
        font-weight: 600;
    }
    @media screen and (max-width: 768px) {
        p {
            padding: 24px 16px;
        }
    }
</style>