---
import PageLayout from '../layouts/PageLayout.astro';
import ShortBlogPost from '@components/ShortBlogPost.astro';
import { getCollection } from "astro:content";

const allBlogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const allTags = (await getCollection('blog')).map((post: any) => post.data.tags).flat();
const filteredTags = allTags.filter((item: any, index: any) => allTags.indexOf(item) === index)

const page = "articles";
---
<PageLayout page={page}>
    <nav>
        <h1>Toutes les aventures</h1>
        <!-- <ul class="tags">
            {filteredTags.map((tag: any) => <li><a href={`/${tag}`}>#{tag}</a></li>)}
        </ul> -->
    </nav>
    <div class="articles">
        {allBlogPosts.map((post: any) => <ShortBlogPost title={post.data.title} desc={post.data.description} date={post.data.pubDate} tags={post.data.tags} url={`/posts/${post.id}`} image={post.data.cover} imageAlt={post.data.coverAlt} />)}
    </div>
</PageLayout>

<style>
nav {
    padding-bottom: 24px;
}
.articles {
    display: flex;
    flex-direction: column;
}
</style>