---
import image1 from "../assets/mongolia-2.jpg";
import { Image } from 'astro:assets';
import '../styles/newglobal.css';
import NewBaseLayout from '../layouts/NewBaseLayout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import ShortBlogPost from '@components/ShortBlogPost.astro';
import { getCollection } from "astro:content";

const allBlogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);


const page = "articles";
---

<NewBaseLayout page={page}>
    <main>
        <div class="fenetre">
            <div class="intro">
                <h1>Perdre la notion du temps, en Mongolie</h1>
                <p>C'est probablement le pays qui m'a le plus marqué de notre voyage en Asie</p>
                <a href="#">Lire l'histoire</a>
            </div>
            <Image src={image1} alt="alt" width="900px" height="700px"/>
        </div>
        <div class="desc">
            <Header />
            <div class="articles">
                {allBlogPosts.map((post) => <ShortBlogPost title={post.data.title} desc={post.data.description} date={post.data.pubDate} tags={post.data.tags} url={`/posts/${post.id}`} image={post.data.cover} imageAlt={post.data.coverAlt} />)}
            </div>
        </div>
    </main>
    <!-- <Footer /> -->
</NewBaseLayout>

<style>
.desc {
    flex-direction: column;
}
</style>