---
import image1 from "../assets/mongolia-2.jpg";
import { Image } from 'astro:assets';
import '../styles/newglobal.css';
import NewBaseLayout from '../layouts/NewBaseLayout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import NewShortBlogPost from '@components/NewShortBlogPost.astro';
import { getCollection } from "astro:content";

const allBlogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const page = "articles";
---
<NewBaseLayout page={page}>
    <main>
        <div class="fenetre">
            <Header />
            <p class="sentence">Ce qui compte le plus, ce n'est pas d'aller voir de beaux endroits, mais c'est de voir la beauté dans chaque endroit</p>
            <Image src={image1} alt="alt" width="900px" height="700px"/>
        </div>
        <div class="desc">
            <!-- <Header /> -->
            <div class="navArticles">
                <h1>Toutes les aventures</h1>
                <p>Tags : <span>#Rando</span> <span></span>#1AnEnVadrouille</span> <span></span>#Voyage</span></p>
            </div>
            <div class="articles">
                {allBlogPosts.map((post) => <NewShortBlogPost title={post.data.title} desc={post.data.description} date={post.data.pubDate} tags={post.data.tags} url={`/posts/${post.id}`} image={post.data.cover} imageAlt={post.data.coverAlt} />)}
            </div>
        </div>
    </main>
</NewBaseLayout>

<style>
body {
    padding: 0px;
}
.articles {
    display: flex;
    flex-direction: column;
}
.fenetre {
    width: 40%;
    position: fixed;
    height: 100vH;
}
.desc {
    flex-direction: column;
    width: 60%;
    padding: 40px 80px;
    left: 40%;
    position: relative;
}
.intro {
    top: 0;
    padding: 0px;
    z-index: 1;
    width: 100%;
}
.fenetre img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>