---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import TitleSection from '../components/TitleSection.astro';
import ShortBlogPost from '../components/ShortBlogPost.astro';

const pageTitle = "Home page";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<style>
  .listShortPost, .listShortProject {
      padding: 0px;
      list-style: none;
      margin: 0px;
  }
  .listShortProject {
      display: flex;
      column-gap: 20px;
  }
  p.about {
      line-height: 1.9em;
      padding-bottom: 24px;
      margin: 0px;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <p class="about">Hi, I'm a random human being. I like all kind of art and especially Digital Art. I really love hiking && bouldering with friends, mostly for the fresh beer after the session. I just discovered that i love writing.</p>
  <TitleSection title={"My thougts"} />
  <ul class="listShortPost">
      {allPosts.map((post: any) => <ShortBlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate} category={post.frontmatter.category} />)}
  </ul>
</BaseLayout>