---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import ShortBlogPost from '../components/ShortBlogPost.astro';

const page = "home";
const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<style>
  .listShortPost, .listShortProject {
      padding: 0px;
      list-style: none;
      margin: 0px;
  }
  .listShortProject {
      display: flex;
      column-gap: 20px;
  }
  p.about {
      line-height: 2em;
      padding-top: 40px;
      padding-bottom: 64px;
      margin: 0px;
      font-size: 1.04em;
      font-weight: 200;
  }
  @media screen and (max-width: 768px) {
    p.about {
        padding: 0px 0px 34px 0px;
    }
  }
</style>

<BaseLayout page={page}>
  <p class="about">Hi, I'm a random human being. I like all kind of art and especially digital art. I really love hiking && bouldering with friends, mostly for the fresh beer after the session. I just discovered that I love writing.</p>
  <ul class="listShortPost">
      {posts.map((post: any) => <ShortBlogPost url={post.url} title={post.frontmatter.title} desc={post.frontmatter.description} date={post.frontmatter.pubDate.toString().slice(0,10)} category={post.frontmatter.category} />)}
  </ul>
</BaseLayout>