---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';

import { Image } from 'astro:assets';

import lectures from './lectures.json';
import Livres from '../components/Livres.astro';

import { getCollection } from "astro:content";
import { Debug } from 'astro:components';

const allBooks = await getCollection('books');

const page = "inspiration";
---

<Debug {allBooks} />

<BaseLayout page={page}>
    <Header />
    <Navigation />
    <main>
        <section class="friends">
            <h2>Podcasts</h2>
        </section>
        <section class="books">
            <h2>Bibliothèque</h2>
            {
                allBooks.map(book => (
                    <Image src={book.data.image.source} alt={book.data.image.alt} width="120px" height="120px" />
                ))
            }
            <h3>2026</h3>
            <ul>
                {lectures.filter((lecture) => lecture.year === 2026).map(book => (
                    <Livres image={book.image} alt={book.image.alt} name={book.name} author={book.author} note={book.note} />
                ))}
            </ul>
            <h3>2025</h3>
            <ul>
                {lectures.filter((lecture) => lecture.year === 2025).map(book => (
                    <Livres image={book.image} alt={book.image.alt} name={book.name} author={book.author} note={book.note} />
                ))}
            </ul>
            <h3>2024</h3>
            <ul>
                {lectures.filter((lecture) => lecture.year === 2024).map(book => (
                    <Livres image={book.image} alt={book.image.alt} name={book.name} author={book.author} note={book.note} />
                ))}
            </ul>
        </section>
    </main>
    <Footer />
</BaseLayout>

<style>
    main {
        padding: 40px 24px 0px;
    }
    section:not(:last-child) {
        margin-bottom: 40px;
    }
    section h2 {
        margin-bottom: 12px;
    }
    h3 {
        display: flex;
        margin-bottom: 24px !important;
        position: relative;
        padding-bottom: 8px;
        font-weight: 500;
    }
    h3:after {
        content: "";
        width: calc(100% + 48px);
        height: 1px;
        background-color: var(--color-fg);
        position: absolute;
        bottom: 0;
        left: -24px;
        opacity: .15;
    }
    section.friends ul {
        padding: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    section.friends ul li a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 0.9em;
    }
    section.friends ul li a img {
        width: 190px;
        margin-bottom: 6px;
    }
    section.books ul {
        display: flex;
        list-style: none;
        padding: 0px;
        gap: 24px;
        margin: 0px;
        flex-direction: column;
        margin-bottom: 48px;
    }
    @media screen and (max-width: 768px) {
        main {
            padding: 24px 16px;
        }   
        section:not(:last-child) {
            margin-bottom: 24px;
        }
    }
</style>