---
import '../styles/global.css';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import lectures from './lectures.json';

const page = "inspiration";
---

<BaseLayout page={page}>
    <div class="container">
        <Header />
        <div class="containerCopains">
            <h2>Le coin des copains</h2>
            <ul class="copains">
                <li><a href="https://audioblog.arteradio.com/blog/261344/lectus-podcast" target="_blank">Lectus Podcast</a></li>
            </ul>
            <br/>
            <h2>Bibliothèque</h2>
            <div class="containerLivres">
                <span class="annee">2026</span>
                <ul class="livres">
                    {lectures.map(book => (
                        <li>
                            <div class="couverture"><img src={`${book.image}`} /></div>
                            <div class="contenu">
                                {book.name} 
                                <span class="auteur">{book.author}</span>
                                <p class="note">"{book.note}"</p>
                            </div>
                        </li>
                    ))}
                </ul>
                <span class="annee">2025</span>
                <span class="annee">2024</span>
            </div>
        </div>
        <Footer />
    </div>
</BaseLayout>

<style>
    .containerCopains {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 40px 24px 0px;
    }
    .containerCopains h2 {
        margin: 0px;
    }
    .containerLivres {
        padding-top: 16px;
    }
    span.annee {
        display: flex;
        margin-bottom: 16px !important;
    }
    ul.livres {
        display: flex;
        list-style: none;
        padding: 0px;
        gap: 24px;
        margin: 0px;
        flex-wrap: wrap;
    }
    ul.livres li {
        display: flex;
        width: calc(50% - 12px);
        flex-direction: row;
        align-items: flex-start;
        font-weight: 600;
        font-size: .9em;
    }
    .couverture {
        height: auto;
    }
    ul.livres li img {
        width: 90px;
    }
    .contenu {
        display: flex;
        flex-direction: column;
        padding-left: 12px;
    }
    .auteur {
        font-weight: 400;
    }
    p.note {
        font-weight: 400;
        font-style: italic;
    }
    @media screen and (max-width: 768px) {
        .containerCopains {
            padding: 24px 16px 0;
        }
    }
    @media screen and (max-width: 688px) {
        .couverture {
            height: auto;
            width: 130px;
            margin: 0px;
        }
        ul.livres li {
            width: 100%;
            flex-direction: row;
        }
        .infos {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 16px;
        }
    }
</style>