---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import ComposantTest from '../components/ComposantTest.astro';
import ShortBlogPost from '../components/ShortBlogPost.astro';
import ShortBlogPostTest from '../components/ShortBlogPostTest.astro';

import { Debug } from "astro:components";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog");

const page = "test";
---

<Debug {allBlogPosts} />

<BaseLayout page={page}>
    <Header />
    <Navigation />
    <main>
        <!-- {
            allBlogPosts.map((post) => (
                <div>
                <Image src={post.data.cover} alt="image" />
                </div>
            ))
        }
        {
            allBlogPosts.map((post) => (
                <ComposantTest image={post.data.cover} title={post.data.title} />
            ))
        } -->
        {
            allBlogPosts.map((post) => <ShortBlogPostTest title={post.data.title} desc={post.data.description} date={post.data.pubDate.toString().slice(0,10)} tags={post.data.tags} url={`/blog/${post.id}`} image={post.data.cover} />)
        }
    </main>
    <Footer />
</BaseLayout>

<style>
    main {
        padding: 40px 24px 0px;
    }
    @media screen and (max-width: 768px) {
        main {
            padding: 24px 16px;
        }   
    }
</style>