---
---
<div class="introduction">
    <time datetime={pubDate}>{new Date(pubDate).toLocaleDateString("fr-FR", { year: 'numeric', month: 'short', day: 'numeric' })}</time>
    <h2>{title}</h2>
    <p>{description}</p>
    <ul>
        {tags.map((tag: string) => (
            <li><a href={`/${tag}`}>#{tag}</a></li>
        ))}
    </ul>
</div>