---
import { Image } from 'astro:assets';

interface Props {
    image: string;
    name: string;
    author: string;
    note: string;
}

const { image, name, author, note} = Astro.props;
const newImage = image.split("../assets/livres/").pop().split(".jpg")[0];
const images = await Astro.glob("/src/assets/livres/*").then(files => {
  return files.map(file => file.default);
});
const myImage = images.find(({ src }) => src.includes(newImage));
---

<li>
    <div class="couverture">
        <Image src={myImage.src} alt="alt" layout="full-width" width={myImage.width} height={myImage.height} />
    </div>
    <div class="contenu">
        {name} 
        <p class="auteur">{author}</p>
        <p class="note">"{note}"</p>
    </div>
</li>

<style>
    li {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-weight: 600;
    }
    .couverture {
        max-width: 90px;
    }
    .couverture img {
        max-width: 90px;
        height: auto;
    }
    .contenu {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        gap: 8px;
    }
    p.auteur {
        font-weight: 400;
        font-size: .9em;
    }
    p.note {
        font-weight: 400;
        font-style: italic;
        font-size: .9em;
        line-height: 1.4em;
        padding-top: 8px;
    }
    @media screen and (max-width: 768px) {
        .contenu {
            padding-left: 12px;
        }
    }
</style>