---
import SmallBlogPost from "./SmallBlogPost.astro";
import { getCollection } from "astro:content";

const { title } = Astro.props;

const allBlogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).filter((post:any) => post.data.title !== title).slice(0, 3);

---
<div class="morePost">
    <a href="/articles" class="return"><span class="arrow">←</span> Retourner aux articles</a>
    <span class="choice">
      <i>ou</i>
    </span>
    <h2>Poursuivre avec d'autres aventures</h2>
    {allBlogPosts.map((post: any) => <SmallBlogPost title={post.data.title} date={post.data.pubDate} url={`/posts/${post.id}`} image={post.data.cover} imageAlt={post.data.coverAlt} />)}
</div>

<style>
.morePost {
  background-color: #000;
  margin-top: 60px;
  padding: 0px 80px;
  padding-top: 60px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.morePost h2 {
  margin-bottom: 32px;
}
.morePost h2, 
.morePost a {
  color: #fff;
}

.choice {
  color: #fff;
  margin: 32px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.5;
}
.choice i:before, 
.choice i:after {
  content: '';
  width: 48%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
}
.choice i:before {
  left: 0;
}
.choice i:after {
  right: 0;
}

@media screen and (max-width: 1600px) {
  .morePost {
    padding: 0px 60px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 1240px) {
  .morePost {
    padding: 0px 40px;
    padding-top: 40px;
    margin-top: 40px;
    padding-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .morePost {
    margin-top: 32px;
    padding: 0px 5vW;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .morePost h2 {
    margin-bottom: 24px;
  }
}
</style>