---
import { Image } from 'astro:assets';

const {url, title, desc, date, tags, image, imageAlt} = Astro.props;
const allTags = tags.toString().split(",");
---

<article>
    <div class="image">
        <Image src={image} alt={imageAlt} layout='constrained' width="800px" height="600px" />
    </div>
    <section> 
        <div class="title">
            <time datetime={date}>{new Date(date).toLocaleDateString("fr-FR", { year: 'numeric', month: 'short', day: 'numeric' })}</time>
            <h2>{title}</h2>
        </div>
        <div class="description">
            <p>{desc}</p>
            <ul class="tags">
                {allTags.map((tag) => <li><a href={`/${tag}`}>#{tag}</a></li>)}
            </ul>
        </div>
    </section>
    <a class="link" href={url}></a>
</article>

<!-- <article>
    <div class="image">
        <Image src={image} alt={imageAlt} width="220px" height="160px" />
    </div>
    <section> 
        <div class="title">
            <h2>{title}</h2>
            <div>
                <p>{desc}</p>
                <time datetime={date}>{new Date(date).toLocaleDateString("fr-FR", { year: 'numeric', month: 'short', day: 'numeric' })}</time>
            </div>
        </div>
        <div class="tags">
            <p>Les tags</p>
            <ul>
                {allTags.map((tag) => <li><a href={`/${tag}`}>#{tag}</a></li>)}
            </ul>
        </div>
    </section>
    <a class="link" href={url}></a>
</article> -->

<style>
article {
    display: flex;
    position: relative;
    width: 100%;
    padding: 24px 0px;
    position: relative;
    color: #000;
    gap: 40px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.title time {
    font-size: .85em;
}
.title h2 {
    font-weight: 500;
    font-size: clamp(1.375rem, 1.25rem + 0.625vw, 2rem);
    line-height: 1.2em;
    text-wrap: pretty;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.description p {
    line-height: 1.4;
}
ul.tags {
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 8px;
}
ul.tags li a {
    font-size: 0.9em;
    line-height: 1em;
    display: flex;
    align-items: center;
    color: #b38c40 !important;
    font-weight: 700;
    text-decoration: none;
}
.image {
    display: flex;
}
.image img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    overflow-clip-margin: unset;
}
a.link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--color-fg);
    opacity: 0;
    transition: all 0.3s;
}
@media screen and (max-width: 768px) {
    article {
        padding: 24px 0px;
        flex-direction: column;
        gap: 16px;
    }   
    .image {
        height: 300px;
    }
    .image img {
        width: 100%;
        min-width: 100%;
        height: 100%
    }
    section {
        flex-direction: column;
        gap: 12px
    }
}
@media screen and (max-width: 500px) {
    .title time {
        font-size: 0.8em;
    }
    .description p {
        display: none;
    }
    ul.tags {
        padding-left: 0px;
    }
    ul.tags:before {
        display: none;
    }
    ul.tags li a {
        font-size: 0.9em;
        font-weight: 500;
    }
    .image {
        height: 200px;
    }
}
</style>