---
import { Image } from 'astro:assets';

const {url, title, desc, date, tags, image} = Astro.props;
const allTags = tags.toString().split(",");

const formatedDate = date.toString().split("-");
[formatedDate[1], formatedDate[0]] = [formatedDate[0], formatedDate[1]];
const insertBetween = (ele, array) => {
  return array.flatMap((x) => [ele, x]).slice(1);
};

---
<article>
    <div class="content">
        <div class="postDatas">
            <time datetime={date}>{new Date(date).toLocaleString()}</time>
            <!-- <time class="date">{insertBetween('-', formatedDate)}</time> -->
            <ul class="tags">
                {allTags.map((tag) => <li><a class="tag" href={`/${tag}`}>#{tag}</a></li>)}
            </ul>
        </div>
        <h2>{title}</h2>
        <p>{desc}</p>
    </div>
    <Image src={image} alt="blablabla" width="120px" height="120px" />
    <a class="link" href={url}></a>
</article>

<style>
    article {
        display: flex;
        position: relative;
        flex-direction: row;
        width: 100%;
        padding: 32px 24px;
        position: relative;
        color: #000;
    }
    article:not(:last-child):after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--color-fg);
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.15;
    }

    article .content {
        display: flex;
        flex-direction: column;
        gap: 12px;  
        width: 75%;
        padding-right: 24px;
    }

    article .postDatas {
        display: flex;
    }

    article time {
        font-size: .85em;
        padding-right: 8px;
    }

    article .postDatas .tags {
        padding-left: 8px;
        display: flex;
        list-style: none;
        position: relative;
        z-index: 2;
    }
    article .postDatas .tags:before {
        content: '';
        width: 1px;
        height: 100%;
        background-color: var(--color-fg);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.15;
    }
    article .postDatas .tags .tag {
        padding-right: 8px;
        font-size: 0.9em;
        line-height: 1em;
        display: flex;
        align-items: center;
        color: #b38c40 !important;
        font-weight: 700;
        text-decoration: none;
    }

    article h2 {
        font-family: Space Grotesk;
        font-weight: 500;
        font-size: 1.7em;
        line-height: 1em;
        padding-top: 4px;
    }
    article p {
        margin: 0px;
        opacity: 0.8;
    }
    article img {
        object-fit: cover;
        overflow-clip-margin: unset;
    }

    article .content {
        width: 100%;
    }

    a.link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: var(--color-fg);
        opacity: 0;
        transition: all 0.3s;
    }
    a.link:hover {
        opacity: 0.05;
    }

    @media screen and (max-width: 768px) {
        article {
            padding: 24px 16px;
        }   
        article h2 {
            font-size: 1.7em;
            padding-bottom: 8px;
        }  
        article .content {
            padding-right: 16px;
        }
    }
    @media screen and (max-width: 500px) {
        article .postDatas {
            flex-direction: column;
            gap: 6px;
        }
        article .postDatas .tags {
            padding-left: 0px;
        }
        article .postDatas .tags:before {
            display: none;
        }
        article h2 {
            font-size: 1.5em;
        }
        article p {
            display: none;
        }
        article .postDatas .tags .tag {
            font-size: 0.8em;
            font-weight: 500;
        }
        article img {
            width: 80px;
            height: 80px;
        }
    }
</style>