---
const {url, title, desc, date, category} = Astro.props;
---

<li class="shortPost">
    <a href={url}>
        <div class="containerInfo">
            <!-- <p class="category">{category}</p> -->
            <div class="containerTitle">
                <p class="title">{title}</p>
                <p class="date">{date}</p>
            </div>
            <p class="description">{desc}</p>
        </div>
    </a>
</li>

<style>
    .containerInfo {
        width: 100%;
    }
    .shortPost {
        display: flex;
    }
    .shortPost a {
        display: flex;
        width: 100%;
        padding: 16px 0px;
        position: relative;
        color: #000;
        text-decoration: none;
    }
    .shortPost:not(:last-child) a:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #000;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .shortPost a .title {
        display: flex;
        flex-grow: 1;
        font-size: 1.6em;
        font-weight: 600;
        transition: all 0.3s;
    }
    .shortPost a:hover .title {
        transform: translateX(10px);
    }
    .shortPost a p {
        margin: 0px;
    }
    .shortPost p.date {
        font-size: 0.85em;
        padding: 4px 12px;
        position: relative;
    }
    .shortPost .containerTitle {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: flex-end;
    }
    .shortPost .containerTitle:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: .15;
        border-bottom: 1px solid var(--color-fg);
    }
    .shortPost a .category {
        font-size: 11px;
        padding: 5px 12px;
        text-transform: uppercase;
        line-height: 10px;
        color: #fff;
        letter-spacing: 1px;
        position: relative;
        display: flex;
        align-items: center;
    }
    .shortPost a .category:after, .shortPost a .date:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px inset var(--color-fg);
        border-bottom: transparent;
        opacity: .15;
        box-sizing: border-box;
    }
    .shortPost a .description {
        display: none;
    }
    @media screen and (max-width: 768px) {
        .shortPost .containerTitle {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        .shortPost a .date:after {
            border-bottom: 1px inset var(--color-fg);
        }
        .shortPost a .title {
            margin-top: 8px;
        }
        .shortPost .containerTitle:after {
            display: none;
        }
    }
</style>