---
import { Image } from 'astro:assets';
import Tags from './Tags.astro';

const {url, title, desc, date, tags, image, imageAlt} = Astro.props;
const allTags = tags.toString().split(",");
---

<article>
    <div class="image">
        <Image src={image} alt={imageAlt} layout='constrained' width="800px" height="600px" />
    </div>
    <section> 
        <div>
            <div class="title">
                <h2>{title}</h2>
            </div>
            <div class="description">
                <p>{desc}</p>
                <time datetime={date}>{new Date(date).toLocaleDateString("fr-FR", { year: 'numeric', month: 'short', day: 'numeric' })}</time>
            </div>
        </div>
        <Tags tags={allTags} />
    </section>
    <a class="link" href={url}></a>
</article>

<style>
article {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 16px;
    position: relative;
    color: #000;
    gap: 40px;
}
article:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    pointer-events: none;
}
section {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
}
section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.title time {
    font-size: .85em;
}
.title h2 {
    font-weight: 500;
    font-size: clamp(1.375rem, 1.25rem + 0.625vw, 2rem);
    line-height: 1.2em;
    text-wrap: pretty;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.description p {
    line-height: 1.4;
}
/* ul.tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 200px;
    padding: 0px;
    list-style: none;
}
ul.tags li a {
    font-size: 0.85em;
    line-height: 1.4em;
    display: flex;
    align-items: center;
    color: #595858 !important;
    font-weight: 700;
    text-decoration: none;
    padding: 4px 6px;
    border: 1px solid #c3c3c3;
} */
.image {
    display: flex;
}
.image img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    overflow-clip-margin: unset;
}
a.link {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 200px);
    height: 100%;
    z-index: 1;
    background-color: var(--color-fg);
    opacity: 0;
    transition: all 0.3s;
}
@media screen and (max-width: 768px) {
    article {
        margin: 0px;
        padding: 32px 0;
        flex-direction: column;
        gap: 16px;
    }   
    .image {
        height: 300px;
    }
    .image img {
        width: 100%;
        min-width: 100%;
        height: 100%
    }
    section {
        flex-direction: column;
        gap: 12px
    }
    section>div {
        flex-direction: column-reverse;
        gap: 8px;
    }
    .description p {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .title time {
        font-size: 0.8em;
    }
    /* ul.tags {
        padding-left: 0px;
    }
    ul.tags:before {
        display: none;
    }
    ul.tags li a {
        font-size: 0.9em;
        font-weight: 500;
    } */
    .image {
        height: 200px;
    }
}
</style>