---
const {url, title, desc, date, tags} = Astro.props;
---

<li class="shortPost">
    <a href={url}>
        <div class="postDatas">
            <p class="date">{date}</p>
        </div>
        <p class="title">{title}</p>
        <p class="description">{desc}</p>
        <div class="tags">
            {tags.map((tag: string) => (
                <p class="tag">#{tag}</p>
            ))}
        </div>
    </a>
</li>

<style>
    .shortPost {
        display: flex;
        position: relative;
    }
    .shortPost a {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 32px 24px;
        position: relative;
        color: #000;
        text-decoration: none;
        gap: 8px;
    }
    .shortPost a::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-fg);
        transition: all 0.3s;
        opacity: 0;
        pointer-events: none;
    }
    .shortPost a:hover::before {
        opacity: 0.05;
    }
    .shortPost a .title {
        font-family: Space Grotesk;
        font-weight: 500;
        font-size: 1.6em;
        line-height: 1em;
    }
    .shortPost a p {
        margin: 0px;
    }
    .shortPost p.date {
        font-size: .85em;
        padding-right: 18px;
        padding-top: 1px;
        opacity: 0.8;
    }
    .shortPost a .description {
        opacity: 0.8;
    }
    @media screen and (max-width: 1200px) {
        .shortPost a {
            padding: 32px 40px;
        }
    }
    @media screen and (max-width: 768px) {
        .shortPost a {
            padding: 32px 24px;
            flex-direction: column;
        }   
        .shortPost a .title {
            font-size: 1.7em;
            padding-bottom: 8px;
        }  
        .shortPost a p.date {
            margin-bottom: 8px;
        } 
    }
</style>