---
import { Image } from 'astro:assets';

const {url, title, date, image, imageAlt} = Astro.props;
---

<article>
    <div class="image">
        <a href={url}>
            <Image src={image} alt={imageAlt} layout='constrained' width="800px" height="600px" />
        </a>
    </div>
    <div class="content"> 
        <a href={url}>
            <h3>{title}</h3>
            <span>Publié le <time datetime={date}>{new Date(date).toLocaleDateString("fr-FR", { year: 'numeric', month: 'short', day: 'numeric' })}</time></span>
        </a>
    </section>
</article>

<style>
article {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 24px;
    position: relative;
    gap: 24px;
}
article:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    pointer-events: none;
}
article .content a {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 8px;
    color: #000;
    text-decoration: none;
}
.content h3 {
    font-weight: 500;
    /* font-size: clamp(1.375rem, 1.35rem + 0.125vw, 1.5rem); */
    /* font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem); */
    font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
    line-height: 1.2em;
    text-wrap: pretty;
}
.content a:hover h3 {
    text-decoration: underline;
}
.content time {
    font-size: .85em;
}
.image,
.image a {
    display: flex;
}
.image a {
    overflow: hidden;
}
.image img {
    width: 160px;
    height: 110px;
    object-fit: cover;
    overflow-clip-margin: unset;
    transition: all 0.3s;
}
.image a:hover img {
    transform: scale(1.05);
}
@media screen and (max-width: 1200px) {
    article {
        gap: 32px;
    }
}
@media screen and (max-width: 1024px) {
    .image img {
        width: 220px;
        height: 150px;
    }
}
@media screen and (max-width: 768px) {
    article {
        flex-direction: column;
        gap: 16px;
    }   
    .image, 
    .image a {
        width: 100%;
    }
    .image {
        height: 300px;
    }
    .image img {
        width: 100%;
        min-width: 100%;
        height: 100%
    }
}
@media screen and (max-width: 500px) {
    .content time {
        font-size: 0.8em;
    }
    .image {
        height: 200px;
    }
}
</style>