---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout page={frontmatter.title}>
    <div class="container">
        <Header />
        <div class="postIntro">
            <p class="postDate">{frontmatter.pubDate.toString().slice(0,10)}</p>
            <p class="postTitle">{frontmatter.title}</p>
            <p class="postDescription">{frontmatter.description}</p>
            <div class="tags">
                {frontmatter.tags.map((tag: string) => (
                    <p class="tag"><a href={`/tags/${tag}`}>#{tag}</a></p>
                ))}
            </div>
        </div>
        <div class="postContent">
            <slot />
        </div>
        <Footer />
    </div>
</BaseLayout>

<style>
  .postIntro {
        position: relative;
        padding: 40px 24px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-3);
  }
  .postIntro:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
    }
  .postIntro p {
        margin: 0px;
        color: #fff !important;
  }
  p.postTitle {
        font-family: 'Space Grotesk';
        font-size: 2.3em;
        font-weight: 500;
        margin: 8px 0 0;
        line-height: 1.2em;
        max-width: 100%;
  }
  p.postDescription {
        margin-bottom: 0px;
        font-size: 1.1em;
  }
  p.postDate {
        font-size: 0.85em;
  }
  .postIntro .tags {
        display: flex;
  }
  .postIntro .tags .tag a {
        color: #fff !important;
        font-weight: 600;
        text-decoration: none;
        font-size: 0.9em;
        padding-right: 8px;
  }
  .postContent p {
        padding: 0px 24px;
  }
  @media screen and (max-width: 1200px) {
    .postIntro {
        padding: 40px;
    }
    p.postTitle {
        font-size: 2.7em;
        max-width: 100%;
    }
  }
  @media screen and (max-width: 900px) {
    p.postTitle {
        font-size: 2.2em;
    }
    p.postDescription {
        margin-top: 16px;
        font-size: 1em;
    }
    p.postDate {
        font-size: .85em;
        margin-top: 16px;
        margin-bottom: 0px;
    }
    .postIntro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
  }
  @media screen and (max-width: 768px) {
    .postIntro {
        padding: 24px 16px;
    }
    .postContent p {
      padding: 0px 16px;
    }
  }
</style>