---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
        <div class="container">
          <Header />
          <div class="postIntro">
              <p class="postDate">{frontmatter.pubDate.toString().slice(0,10)}</p>
              <p class="postTitle">{frontmatter.title}</p>
              <p class="postDescription">{frontmatter.description}</p>
          </div>
          <div class="postContent">
              <slot />
          </div>
          <Footer />
        </div>
    <!-- 
    <div class="col-left">
        <div class="container">
            <Header />
        </div>
    </div>
    <div class="col-right">
        <Navigation />
        <div class="postIntro">
            <p class="postDate">{frontmatter.pubDate.toString().slice(0,10)}</p>
            <p class="postTitle">{frontmatter.title}</p>
            <p class="postDescription">{frontmatter.description}</p>
        </div>
        <div class="postContent">
            <slot />
        </div>
        <Footer />
    </div>
    -->
</BaseLayout>

<style>
  .postIntro {
    position: relative;
    padding: 40px;
  }
  p.postTitle {
    font-family: 'Space Grotesk';
    font-size: 3em;
    font-weight: 400;
    margin: 0px;
    line-height: 1.2em;
    margin-top: 8px;
    max-width: 80%;
  }
  p.postDescription {
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 1.1em;
  }
  p.postDate {
    font-size: 0.85em;
    margin-top: 4px;
  }
  .postContent {
    padding: 0px 40px;
  }
  @media screen and (max-width: 1200px) {
    .postIntro {
      padding: 40px;
    }
    .postContent {
      padding: 0px 40px;
    }
    p.postTitle {
      font-size: 2.7em;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 900px) {
    p.postTitle {
      font-size: 2.2em;
    }
    p.postDescription {
      margin-top: 16px;
      font-size: 1em;
    }
    p.postDate {
        font-size: .85em;
        margin-top: 16px;
        margin-bottom: 0px;
    }
    .postIntro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
  }
  @media screen and (max-width: 768px) {
    .postIntro {
        padding: 24px;
    }
    .postContent {
      padding: 0px 24px;
    }
  }
</style>